@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@media(max-width:768px){
    * {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }
    #navBarMobile{
        display: flex;
        width: 100%;
        height: 10vh;
        position: fixed;
        justify-content: space-evenly;
        bottom: 0px;
        background-color: #e4e6e7;
    }
    /* Botão "explorar" */
    #searchMobileButton{
        grid-column: 1/2;
        color: gray;
        text-decoration: none;
        display:flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #searchMobileButton:hover{
        text-decoration: underline;
    }
    #searchMobileButton:active{
        background-color: rgba(0, 0, 0, 0.23);
    }
    /* Botão "inscrições" */
    #subscribeMobileButton{
        grid-column: 2/3;
        color: gray;
        text-decoration: none;
        display:flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #subscribeMobileButton:hover{
        text-decoration: underline;
    }
    #subscribeMobileButton:active{
        background-color: rgba(0, 0, 0, 0.23);
    }
    /* Botão "notificações" */
    #mobileNotifyButton{
        grid-column: 3/3;
        color: gray;
        text-decoration: none;
        display:flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #mobileNotifyButton:hover{
        text-decoration: underline;
    }
    #mobileNotifyButton:active{
        background-color: rgba(0, 0, 0, 0.23);
    }
    #mobileIcoText{
        font-family: Lato;
        text-decoration: none;
    }
    .botMenu{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    /* Modal de notificações para Mobile */
    #modalNotify{
        right: 3px;
        top: -85px;
    }
}
/* desabilitar menu mobile em versões desktop */
@media(min-width:768px){
    #navBarMobile{
        display: none;
    }
}