
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.loginPanel{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: red solid 2px;
    border-radius: 2rem;
    width: 600px;
    height: 300px;
}